<div class="card-category"
style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
url('<%= cl_image_path @list.photo.key, height: 300, scale: :fill, gravity: :face %>')">
  <%= @list.name %>
</div>

<% @list.movies.each do |movie| %>
  <% movie.bookmarks.each do |bookmark| %>
    <div class="card-product m-4 p-2">
      <div class="card-product-infos">
        <h2><%= movie.title %>: <%= bookmark.comment %></h2>
        <p><%= movie.overview %></p>
        <p><%= link_to "Delete",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %></p>
      </div>
    </div>
  <% end %>
<% end %>

<div class="footer">
  <div class="footer-links">
    <%= link_to "Back", lists_path %>
    <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
  </div>
</div>
